Trunk_Jun_09_08/src/com/bagnet/nettracer/ws/passengerview/NTPassengerViewService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://passengerview.ws.nettracer.bagnet.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://pojo.core.ws.nettracer.bagnet.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://passengerview.ws.nettracer.bagnet.com">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://pojo.core.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://passengerview.ws.nettracer.bagnet.com">
            <xs:import namespace="http://pojo.core.ws.nettracer.bagnet.com/xsd"/>
            <xs:element name="getIncidentPV">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIncidentPVResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WS_PVIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentsPVPnr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="recordLocator" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="callingAgent" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentsPVPnrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:WS_PVAdvancedIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentsPVPhone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="callingAgent" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentsPVPhoneResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:WS_PVAdvancedIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentsPVFrequentFlyer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="frequentFlyer" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="callingAgent" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentsPVFrequentFlyerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:WS_PVAdvancedIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentPVWithAgent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="callingAgent" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="doNotAuthorize" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentPVWithAgentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WS_PVAdvancedIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentPV">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="doNotAuthorize" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedIncidentPVResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WS_PVAdvancedIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActivePhoneListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.core.ws.nettracer.bagnet.com/xsd">
            <xs:complexType name="WS_PVIncident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="companycode_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dispcreatetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homephone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hotel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_status" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="ax21:WS_PVItem"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workphone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagstatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimchecknum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deliveryStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastDeliveryUpdate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="state_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVAdvancedIncident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="canCreateClaim" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimChecks" nillable="true" type="ax21:WS_ClaimCheck"/>
                    <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="companycode_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="dispcreatetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="itemType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="ax21:WS_PVItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax21:WS_PVPassenger"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_ClaimCheck">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scans" nillable="true" type="ax21:WS_ScanPoints"/>
                    <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_ScanPoints">
                <xs:sequence>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVPassenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homephone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hotel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workphone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getIncidentPVRequest">
        <wsdl:part name="parameters" element="ns:getIncidentPV"/>
    </wsdl:message>
    <wsdl:message name="getIncidentPVResponse">
        <wsdl:part name="parameters" element="ns:getIncidentPVResponse"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentsPVFrequentFlyerRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentsPVFrequentFlyer"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentsPVFrequentFlyerResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentsPVFrequentFlyerResponse"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentPVRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentPV"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentPVResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentPVResponse"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentsPVPhoneRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentsPVPhone"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentsPVPhoneResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentsPVPhoneResponse"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentPVWithAgentRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentPVWithAgent"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentPVWithAgentResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentPVWithAgentResponse"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentsPVPnrRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentsPVPnr"/>
    </wsdl:message>
    <wsdl:message name="getAdvancedIncidentsPVPnrResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedIncidentsPVPnrResponse"/>
    </wsdl:message>
    <wsdl:message name="getActivePhoneListRequest"/>
    <wsdl:message name="getActivePhoneListResponse">
        <wsdl:part name="parameters" element="ns:getActivePhoneListResponse"/>
    </wsdl:message>
    <wsdl:portType name="NTPassengerViewServicePortType">
        <wsdl:operation name="getIncidentPV">
            <wsdl:input message="ns:getIncidentPVRequest" wsaw:Action="urn:getIncidentPV"/>
            <wsdl:output message="ns:getIncidentPVResponse" wsaw:Action="urn:getIncidentPVResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVFrequentFlyer">
            <wsdl:input message="ns:getAdvancedIncidentsPVFrequentFlyerRequest" wsaw:Action="urn:getAdvancedIncidentsPVFrequentFlyer"/>
            <wsdl:output message="ns:getAdvancedIncidentsPVFrequentFlyerResponse" wsaw:Action="urn:getAdvancedIncidentsPVFrequentFlyerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPV">
            <wsdl:input message="ns:getAdvancedIncidentPVRequest" wsaw:Action="urn:getAdvancedIncidentPV"/>
            <wsdl:output message="ns:getAdvancedIncidentPVResponse" wsaw:Action="urn:getAdvancedIncidentPVResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPhone">
            <wsdl:input message="ns:getAdvancedIncidentsPVPhoneRequest" wsaw:Action="urn:getAdvancedIncidentsPVPhone"/>
            <wsdl:output message="ns:getAdvancedIncidentsPVPhoneResponse" wsaw:Action="urn:getAdvancedIncidentsPVPhoneResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPVWithAgent">
            <wsdl:input message="ns:getAdvancedIncidentPVWithAgentRequest" wsaw:Action="urn:getAdvancedIncidentPVWithAgent"/>
            <wsdl:output message="ns:getAdvancedIncidentPVWithAgentResponse" wsaw:Action="urn:getAdvancedIncidentPVWithAgentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPnr">
            <wsdl:input message="ns:getAdvancedIncidentsPVPnrRequest" wsaw:Action="urn:getAdvancedIncidentsPVPnr"/>
            <wsdl:output message="ns:getAdvancedIncidentsPVPnrResponse" wsaw:Action="urn:getAdvancedIncidentsPVPnrResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActivePhoneList">
            <wsdl:input message="ns:getActivePhoneListRequest" wsaw:Action="urn:getActivePhoneList"/>
            <wsdl:output message="ns:getActivePhoneListResponse" wsaw:Action="urn:getActivePhoneListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NTPassengerViewServiceSoap11Binding" type="ns:NTPassengerViewServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAdvancedIncidentsPVFrequentFlyer">
            <soap:operation soapAction="urn:getAdvancedIncidentsPVFrequentFlyer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncidentPV">
            <soap:operation soapAction="urn:getIncidentPV" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPV">
            <soap:operation soapAction="urn:getAdvancedIncidentPV" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPVWithAgent">
            <soap:operation soapAction="urn:getAdvancedIncidentPVWithAgent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPhone">
            <soap:operation soapAction="urn:getAdvancedIncidentsPVPhone" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPnr">
            <soap:operation soapAction="urn:getAdvancedIncidentsPVPnr" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActivePhoneList">
            <soap:operation soapAction="urn:getActivePhoneList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NTPassengerViewServiceSoap12Binding" type="ns:NTPassengerViewServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAdvancedIncidentsPVFrequentFlyer">
            <soap12:operation soapAction="urn:getAdvancedIncidentsPVFrequentFlyer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncidentPV">
            <soap12:operation soapAction="urn:getIncidentPV" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPV">
            <soap12:operation soapAction="urn:getAdvancedIncidentPV" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPVWithAgent">
            <soap12:operation soapAction="urn:getAdvancedIncidentPVWithAgent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPhone">
            <soap12:operation soapAction="urn:getAdvancedIncidentsPVPhone" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPnr">
            <soap12:operation soapAction="urn:getAdvancedIncidentsPVPnr" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActivePhoneList">
            <soap12:operation soapAction="urn:getActivePhoneList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NTPassengerViewServiceHttpBinding" type="ns:NTPassengerViewServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAdvancedIncidentsPVFrequentFlyer">
            <http:operation location="NTPassengerViewService/getAdvancedIncidentsPVFrequentFlyer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAdvancedIncidentsPVFrequentFlyer"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAdvancedIncidentsPVFrequentFlyer"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncidentPV">
            <http:operation location="NTPassengerViewService/getIncidentPV"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getIncidentPV"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getIncidentPV"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPV">
            <http:operation location="NTPassengerViewService/getAdvancedIncidentPV"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAdvancedIncidentPV"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAdvancedIncidentPV"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentPVWithAgent">
            <http:operation location="NTPassengerViewService/getAdvancedIncidentPVWithAgent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAdvancedIncidentPVWithAgent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAdvancedIncidentPVWithAgent"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPhone">
            <http:operation location="NTPassengerViewService/getAdvancedIncidentsPVPhone"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAdvancedIncidentsPVPhone"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAdvancedIncidentsPVPhone"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedIncidentsPVPnr">
            <http:operation location="NTPassengerViewService/getAdvancedIncidentsPVPnr"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAdvancedIncidentsPVPnr"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAdvancedIncidentsPVPnr"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActivePhoneList">
            <http:operation location="NTPassengerViewService/getActivePhoneList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getActivePhoneList"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getActivePhoneList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NTPassengerViewService">
        <wsdl:port name="NTPassengerViewServiceHttpSoap11Endpoint" binding="ns:NTPassengerViewServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/NTPassengerViewService"/>
        </wsdl:port>
        <wsdl:port name="NTPassengerViewServiceHttpSoap12Endpoint" binding="ns:NTPassengerViewServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/NTPassengerViewService"/>
        </wsdl:port>
        <wsdl:port name="NTPassengerViewServiceHttpEndpoint" binding="ns:NTPassengerViewServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/NTPassengerViewService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
