Trunk_Jun_09_08/src/com/bagnet/nettracer/ws/wn/cs2/CS2Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://cs2.wn.ws.nettracer.bagnet.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://pojo.cs2.wn.ws.nettracer.bagnet.com/xsd" xmlns:ax21="http://pojo.wn.ws.nettracer.bagnet.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cs2.wn.ws.nettracer.bagnet.com">
    <wsdl:types>
        <xs:schema xmlns:ax24="http://pojo.wn.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.cs2.wn.ws.nettracer.bagnet.com/xsd">
            <xs:import namespace="http://pojo.wn.ws.nettracer.bagnet.com/xsd"/>
            <xs:complexType name="RetrieveIncidentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnCode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IssueLuvVoucherResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnCode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.wn.ws.nettracer.bagnet.com/xsd">
            <xs:complexType name="Authentication">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airlineCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemPassword" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="province" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://pojo.cs2.wn.ws.nettracer.bagnet.com/xsd" xmlns:ax22="http://pojo.wn.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cs2.wn.ws.nettracer.bagnet.com">
            <xs:import namespace="http://pojo.wn.ws.nettracer.bagnet.com/xsd"/>
            <xs:import namespace="http://pojo.cs2.wn.ws.nettracer.bagnet.com/xsd"/>
            <xs:element name="retrieveIncident">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authentication" nillable="true" type="ax22:Authentication"/>
                        <xs:element minOccurs="0" name="reportNumber" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:RetrieveIncidentResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueLuvVoucher">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authentication" nillable="true" type="ax22:Authentication"/>
                        <xs:element minOccurs="0" name="reportNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="amount" type="xs:float"/>
                        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="agentLocation" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueLuvVoucherResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:IssueLuvVoucherResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="issueLuvVoucherRequest">
        <wsdl:part name="parameters" element="ns:issueLuvVoucher"/>
    </wsdl:message>
    <wsdl:message name="issueLuvVoucherResponse">
        <wsdl:part name="parameters" element="ns:issueLuvVoucherResponse"/>
    </wsdl:message>
    <wsdl:message name="retrieveIncidentRequest">
        <wsdl:part name="parameters" element="ns:retrieveIncident"/>
    </wsdl:message>
    <wsdl:message name="retrieveIncidentResponse">
        <wsdl:part name="parameters" element="ns:retrieveIncidentResponse"/>
    </wsdl:message>
    <wsdl:portType name="CS2ServicePortType">
        <wsdl:operation name="issueLuvVoucher">
            <wsdl:input message="ns:issueLuvVoucherRequest" wsaw:Action="urn:issueLuvVoucher"/>
            <wsdl:output message="ns:issueLuvVoucherResponse" wsaw:Action="urn:issueLuvVoucherResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveIncident">
            <wsdl:input message="ns:retrieveIncidentRequest" wsaw:Action="urn:retrieveIncident"/>
            <wsdl:output message="ns:retrieveIncidentResponse" wsaw:Action="urn:retrieveIncidentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CS2ServiceSoap11Binding" type="ns:CS2ServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="issueLuvVoucher">
            <soap:operation soapAction="urn:issueLuvVoucher" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveIncident">
            <soap:operation soapAction="urn:retrieveIncident" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CS2ServiceSoap12Binding" type="ns:CS2ServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="issueLuvVoucher">
            <soap12:operation soapAction="urn:issueLuvVoucher" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveIncident">
            <soap12:operation soapAction="urn:retrieveIncident" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CS2ServiceHttpBinding" type="ns:CS2ServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="issueLuvVoucher">
            <http:operation location="CS2Service/issueLuvVoucher"/>
            <wsdl:input>
                <mime:content type="text/xml" part="issueLuvVoucher"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="issueLuvVoucher"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveIncident">
            <http:operation location="CS2Service/retrieveIncident"/>
            <wsdl:input>
                <mime:content type="text/xml" part="retrieveIncident"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="retrieveIncident"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CS2Service">
        <wsdl:port name="CS2ServiceHttpSoap11Endpoint" binding="ns:CS2ServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CS2Service"/>
        </wsdl:port>
        <wsdl:port name="CS2ServiceHttpSoap12Endpoint" binding="ns:CS2ServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CS2Service"/>
        </wsdl:port>
        <wsdl:port name="CS2ServiceHttpEndpoint" binding="ns:CS2ServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CS2Service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
