Trunk_Jun_09_08/src/com/bagnet/nettracer/ws/v1_1/PaxView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://paxview.v1_1.ws.nettracer.bagnet.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://v1_1.ws.nettracer.bagnet.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://v1_1.ws.nettracer.bagnet.com">
    <wsdl:types>
        <xs:schema xmlns:ns="http://v1_1.ws.nettracer.bagnet.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://v1_1.ws.nettracer.bagnet.com">
            <xs:element name="getPaxView">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="msgsReadByUser" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaxViewResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:WS_PVIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaxViewIvr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaxViewIvrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:WS_PVIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writePassengerComment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writePassengerCommentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:WS_PVIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax21="http://paxview.v1_1.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://paxview.v1_1.ws.nettracer.bagnet.com/xsd">
            <xs:complexType name="WS_PVIncident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dispcreatetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="itemType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="ax21:WS_PVItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax21:WS_PVPassenger"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="paxClaimchecks" nillable="true" type="ax21:WS_PVClaimChecks"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="paxCommunication" nillable="true" type="ax21:WS_PVPaxCommunication"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bagstatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimchecknum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deliveryAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVPassenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="addressOnFile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homephone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hotel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workphone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVClaimChecks">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimcheck" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVPaxCommunication">
                <xs:sequence>
                    <xs:element minOccurs="0" name="acknowledged_agent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="acknowledged_airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="acknowledged_timestamp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="create_timestamp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="writePassengerCommentRequest">
        <wsdl:part name="parameters" element="ns0:writePassengerComment"/>
    </wsdl:message>
    <wsdl:message name="writePassengerCommentResponse">
        <wsdl:part name="parameters" element="ns0:writePassengerCommentResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaxViewRequest">
        <wsdl:part name="parameters" element="ns0:getPaxView"/>
    </wsdl:message>
    <wsdl:message name="getPaxViewResponse">
        <wsdl:part name="parameters" element="ns0:getPaxViewResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaxViewIvrRequest">
        <wsdl:part name="parameters" element="ns0:getPaxViewIvr"/>
    </wsdl:message>
    <wsdl:message name="getPaxViewIvrResponse">
        <wsdl:part name="parameters" element="ns0:getPaxViewIvrResponse"/>
    </wsdl:message>
    <wsdl:portType name="PaxViewPortType">
        <wsdl:operation name="writePassengerComment">
            <wsdl:input message="ns0:writePassengerCommentRequest" wsaw:Action="urn:writePassengerComment"/>
            <wsdl:output message="ns0:writePassengerCommentResponse" wsaw:Action="urn:writePassengerCommentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPaxView">
            <wsdl:input message="ns0:getPaxViewRequest" wsaw:Action="urn:getPaxView"/>
            <wsdl:output message="ns0:getPaxViewResponse" wsaw:Action="urn:getPaxViewResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPaxViewIvr">
            <wsdl:input message="ns0:getPaxViewIvrRequest" wsaw:Action="urn:getPaxViewIvr"/>
            <wsdl:output message="ns0:getPaxViewIvrResponse" wsaw:Action="urn:getPaxViewIvrResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaxViewSOAP11Binding" type="ns0:PaxViewPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="writePassengerComment">
            <soap:operation soapAction="urn:writePassengerComment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaxView">
            <soap:operation soapAction="urn:getPaxView" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaxViewIvr">
            <soap:operation soapAction="urn:getPaxViewIvr" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaxViewSOAP12Binding" type="ns0:PaxViewPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="writePassengerComment">
            <soap12:operation soapAction="urn:writePassengerComment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaxView">
            <soap12:operation soapAction="urn:getPaxView" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaxViewIvr">
            <soap12:operation soapAction="urn:getPaxViewIvr" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaxViewHttpBinding" type="ns0:PaxViewPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="writePassengerComment">
            <http:operation location="PaxView/writePassengerComment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="writePassengerComment"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="writePassengerComment"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaxView">
            <http:operation location="PaxView/getPaxView"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getPaxView"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getPaxView"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaxViewIvr">
            <http:operation location="PaxView/getPaxViewIvr"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getPaxViewIvr"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getPaxViewIvr"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaxView">
        <wsdl:port name="PaxViewSOAP11port_http" binding="ns0:PaxViewSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/PaxView"/>
        </wsdl:port>
        <wsdl:port name="PaxViewSOAP12port_http" binding="ns0:PaxViewSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/PaxView"/>
        </wsdl:port>
        <wsdl:port name="PaxViewHttpport" binding="ns0:PaxViewHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/PaxView"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
