Trunk_Jun_09_08/src/aero/nettracer/fs/service/FraudService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://objects.service.fs.nettracer.aero/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://service.fs.nettracer.aero" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.fs.nettracer.aero">
    <wsdl:types>
        <xs:schema xmlns:ns="http://service.fs.nettracer.aero" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.fs.nettracer.aero">
            <xs:element name="submitClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="version" type="xs:int"/>
                        <xs:element minOccurs="0" name="authentication" nillable="true" type="ns1:Authentication"/>
                        <xs:element minOccurs="0" name="data" nillable="true" type="ns1:File"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="submitClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:ClaimResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClaimStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="version" type="xs:int"/>
                        <xs:element minOccurs="0" name="authentication" nillable="true" type="ns1:Authentication"/>
                        <xs:element minOccurs="0" name="fileId" type="xs:long"/>
                        <xs:element minOccurs="0" name="amountPaid" type="xs:double"/>
                        <xs:element minOccurs="0" name="amountPaidCurrency" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resolutionStatus" type="xs:int"/>
                        <xs:element minOccurs="0" name="resolutionSubstatus" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClaimStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:ClaimResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax21="http://objects.service.fs.nettracer.aero/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://objects.service.fs.nettracer.aero/xsd">
            <xs:complexType name="Authentication">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airlineCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemPassword" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claim" nillable="true" type="ax21:Claim"/>
                    <xs:element minOccurs="0" name="incident" nillable="true" type="ax21:Incident"/>
                    <xs:element minOccurs="0" name="reservation" nillable="true" type="ax21:Reservation"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="airlineClaimId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountClaimed" type="xs:double"/>
                    <xs:element minOccurs="0" name="amountClaimedCurrency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountPaid" type="xs:double"/>
                    <xs:element minOccurs="0" name="amountPaidCurrency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="claimType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimants" nillable="true" type="ax21:Person"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ipaddress" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="receipts" nillable="true" type="ax21:Receipt"/>
                    <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="segments" nillable="true" type="ax21:Segment"/>
                    <xs:element minOccurs="0" name="travelDate" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="driversLicenseCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="driversLicenseNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="driversLicenseProvince" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="driversLicenseState" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ffAirline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ffNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passportIssuer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passportNumber" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phoneNumbers" nillable="true" type="ax21:Phone"/>
                    <xs:element minOccurs="0" name="socialSecurity" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="province" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Phone">
                <xs:sequence>
                    <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Receipt">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ccExpMonth" type="xs:int"/>
                    <xs:element minOccurs="0" name="ccExpYear" type="xs:int"/>
                    <xs:element minOccurs="0" name="ccLastFour" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ccType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="ax21:Phone"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Segment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airlineCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalCityCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="departureCityCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Incident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="airlineIncidentId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimants" nillable="true" type="ax21:Person"/>
                    <xs:element minOccurs="0" name="incidentClosed" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="incidentCreated" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="incidentDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incidentOpened" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="incidentType" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberDaysOpen" type="xs:int"/>
                    <xs:element minOccurs="0" name="numberOfBdosCreated" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="segments" nillable="true" type="ax21:Segment"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Reservation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ccExpMonth" type="xs:int"/>
                    <xs:element minOccurs="0" name="ccExpYear" type="xs:int"/>
                    <xs:element minOccurs="0" name="ccNumLastFour" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ccNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ccType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimants" nillable="true" type="ax21:Person"/>
                    <xs:element minOccurs="0" name="formOfPayment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="recordLocator" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="segments" nillable="true" type="ax21:Segment"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="directAccessUrl" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileId" type="xs:long"/>
                    <xs:element minOccurs="0" name="searchSummary" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="warningColor" type="xs:int"/>
                    <xs:element minOccurs="0" name="warningLevel" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateClaimStatusRequest">
        <wsdl:part name="parameters" element="ns0:updateClaimStatus"/>
    </wsdl:message>
    <wsdl:message name="updateClaimStatusResponse">
        <wsdl:part name="parameters" element="ns0:updateClaimStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="submitClaimRequest">
        <wsdl:part name="parameters" element="ns0:submitClaim"/>
    </wsdl:message>
    <wsdl:message name="submitClaimResponse">
        <wsdl:part name="parameters" element="ns0:submitClaimResponse"/>
    </wsdl:message>
    <wsdl:message name="echoRequest">
        <wsdl:part name="parameters" element="ns0:echo"/>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="ns0:echoResponse"/>
    </wsdl:message>
    <wsdl:portType name="FraudServicePortType">
        <wsdl:operation name="updateClaimStatus">
            <wsdl:input message="ns0:updateClaimStatusRequest" wsaw:Action="urn:updateClaimStatus"/>
            <wsdl:output message="ns0:updateClaimStatusResponse" wsaw:Action="urn:updateClaimStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="submitClaim">
            <wsdl:input message="ns0:submitClaimRequest" wsaw:Action="urn:submitClaim"/>
            <wsdl:output message="ns0:submitClaimResponse" wsaw:Action="urn:submitClaimResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input message="ns0:echoRequest" wsaw:Action="urn:echo"/>
            <wsdl:output message="ns0:echoResponse" wsaw:Action="urn:echoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FraudServiceSOAP11Binding" type="ns0:FraudServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateClaimStatus">
            <soap:operation soapAction="urn:updateClaimStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="submitClaim">
            <soap:operation soapAction="urn:submitClaim" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap:operation soapAction="urn:echo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FraudServiceSOAP12Binding" type="ns0:FraudServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateClaimStatus">
            <soap12:operation soapAction="urn:updateClaimStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="submitClaim">
            <soap12:operation soapAction="urn:submitClaim" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap12:operation soapAction="urn:echo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FraudServiceHttpBinding" type="ns0:FraudServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateClaimStatus">
            <http:operation location="FraudService/updateClaimStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="updateClaimStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="updateClaimStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="submitClaim">
            <http:operation location="FraudService/submitClaim"/>
            <wsdl:input>
                <mime:content type="text/xml" part="submitClaim"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="submitClaim"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <http:operation location="FraudService/echo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="echo"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="echo"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FraudService">
        <wsdl:port name="FraudServiceSOAP11port_http" binding="ns0:FraudServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/FraudService"/>
        </wsdl:port>
        <wsdl:port name="FraudServiceSOAP12port_http" binding="ns0:FraudServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/FraudService"/>
        </wsdl:port>
        <wsdl:port name="FraudServiceHttpport" binding="ns0:FraudServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/FraudService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
