NTService_1_0/src/aero/nettracer/serviceprovider/ws_1_0/KioskService_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd" xmlns:ns1="http://response.ws_1_0.serviceprovider.nettracer.aero/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws_1_0.serviceprovider.nettracer.aero" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws_1_0.serviceprovider.nettracer.aero">
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws_1_0.serviceprovider.nettracer.aero" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws_1_0.serviceprovider.nettracer.aero">
            <xs:element name="createIncident">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="header" nillable="true" type="ns2:RequestHeader"/>
                        <xs:element minOccurs="0" name="incident" nillable="true" type="ns2:KioskIncident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:KioskResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax22="http://response.ws_1_0.serviceprovider.nettracer.aero/xsd" xmlns:ax23="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.ws_1_0.serviceprovider.nettracer.aero/xsd">
            <xs:import namespace="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd"/>
            <xs:complexType name="GenericResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" nillable="true" type="ax23:WebServiceError"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="KioskResponse">
                <xs:complexContent>
                    <xs:extension base="ax22:GenericResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="incidentId" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax21="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd">
            <xs:complexType name="RequestHeader">
                <xs:sequence>
                    <xs:element minOccurs="0" name="parameters" nillable="true" type="ax21:Parameter"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Parameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="KioskIncident">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bagItinerary" nillable="true" type="ax21:KioskItinerary"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimChecks" nillable="true" type="ax21:KioskClaimCheck"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="ax21:KioskItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax21:KioskPassenger"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="paxItinerary" nillable="true" type="ax21:KioskItinerary"/>
                    <xs:element minOccurs="0" name="paxLanguage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pnrLocator" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stationReported" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="KioskItinerary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="departureCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flightDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="flightnum" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="KioskClaimCheck">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tagNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="KioskItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="descriptiveElement1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="descriptiveElement2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="descriptiveElement3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="KioskPassenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="addresses" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="altPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homePhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobilePhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pagerNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="province" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WebServiceError">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createIncidentRequest">
        <wsdl:part name="parameters" element="ns0:createIncident"/>
    </wsdl:message>
    <wsdl:message name="createIncidentResponse">
        <wsdl:part name="parameters" element="ns0:createIncidentResponse"/>
    </wsdl:message>
    <wsdl:portType name="KioskServicePortType">
        <wsdl:operation name="createIncident">
            <wsdl:input message="ns0:createIncidentRequest" wsaw:Action="urn:createIncident"/>
            <wsdl:output message="ns0:createIncidentResponse" wsaw:Action="urn:createIncidentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="KioskServiceSOAP11Binding" type="ns0:KioskServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createIncident">
            <soap:operation soapAction="urn:createIncident" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="KioskServiceSOAP12Binding" type="ns0:KioskServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createIncident">
            <soap12:operation soapAction="urn:createIncident" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="KioskServiceHttpBinding" type="ns0:KioskServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createIncident">
            <http:operation location="KioskService/createIncident"/>
            <wsdl:input>
                <mime:content type="text/xml" part="createIncident"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="createIncident"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="KioskService">
        <wsdl:port name="KioskServiceSOAP11port_http" binding="ns0:KioskServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/KioskService"/>
        </wsdl:port>
        <wsdl:port name="KioskServiceSOAP12port_http" binding="ns0:KioskServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/KioskService"/>
        </wsdl:port>
        <wsdl:port name="KioskServiceHttpport" binding="ns0:KioskServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/KioskService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
