NTService_1_0/src/aero/nettracer/serviceprovider/ws_1_0/ReservationService_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd" xmlns:ns1="http://response.ws_1_0.serviceprovider.nettracer.aero/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws_1_0.serviceprovider.nettracer.aero" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws_1_0.serviceprovider.nettracer.aero">
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws_1_0.serviceprovider.nettracer.aero" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws_1_0.serviceprovider.nettracer.aero">
            <xs:element name="getEnplanements">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="header" nillable="true" type="ns2:RequestHeader"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnplanementsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:EnplanementResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOsiContents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="header" nillable="true" type="ns2:RequestHeader"/>
                        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="bagTag" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOsiContentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:OsiResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeRemark">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="header" nillable="true" type="ns2:RequestHeader"/>
                        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeRemarkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:RemarkResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReservationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="header" nillable="true" type="ns2:RequestHeader"/>
                        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="bagTag" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReservationDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:ReservationResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax22="http://response.ws_1_0.serviceprovider.nettracer.aero/xsd" xmlns:ax23="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.ws_1_0.serviceprovider.nettracer.aero/xsd">
            <xs:import namespace="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd"/>
            <xs:complexType name="GenericResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" nillable="true" type="ax23:WebServiceError"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EnplanementResponse">
                <xs:complexContent>
                    <xs:extension base="ax22:GenericResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="enplanements" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="OsiResponse">
                <xs:complexContent>
                    <xs:extension base="ax22:GenericResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="osi" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RemarkResponse">
                <xs:complexContent>
                    <xs:extension base="ax22:GenericResponse">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ReservationResponse">
                <xs:complexContent>
                    <xs:extension base="ax22:GenericResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="reservation" nillable="true" type="ax23:Reservation"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax21="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.ws_1_0.serviceprovider.nettracer.aero/xsd">
            <xs:complexType name="RequestHeader">
                <xs:sequence>
                    <xs:element minOccurs="0" name="parameters" nillable="true" type="ax21:Parameter"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Parameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WebServiceError">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CONFIGURATION_ERROR" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="UNEXPECTED_EXCEPTION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="USER_NOT_AUTHORIZED" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Reservation">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bagItinerary" nillable="true" type="ax21:Itinerary"/>
                    <xs:element minOccurs="0" name="checkedLocation" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimChecks" nillable="true" type="ax21:ClaimCheck"/>
                    <xs:element minOccurs="0" name="numberChecked" type="xs:int"/>
                    <xs:element minOccurs="0" name="osi" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengerItinerary" nillable="true" type="ax21:Itinerary"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax21:Passenger"/>
                    <xs:element minOccurs="0" name="paxAffected" type="xs:int"/>
                    <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Itinerary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actarrivetime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="actarrivetimeGmt" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="actdeparttime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="actdeparttimeGmt" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalUnknown" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="departureCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flightnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="scharrivetime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="scharrivetimeGmt" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="schdeparttime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="schdeparttimeGmt" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCheck">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tagNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeChecked" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Passenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="addresses" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="ffAirline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ffNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ffStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="altPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homePhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobilePhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pagerNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="province" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEnplanementsRequest">
        <wsdl:part name="parameters" element="ns0:getEnplanements"/>
    </wsdl:message>
    <wsdl:message name="getEnplanementsResponse">
        <wsdl:part name="parameters" element="ns0:getEnplanementsResponse"/>
    </wsdl:message>
    <wsdl:message name="writeRemarkRequest">
        <wsdl:part name="parameters" element="ns0:writeRemark"/>
    </wsdl:message>
    <wsdl:message name="writeRemarkResponse">
        <wsdl:part name="parameters" element="ns0:writeRemarkResponse"/>
    </wsdl:message>
    <wsdl:message name="getReservationDataRequest">
        <wsdl:part name="parameters" element="ns0:getReservationData"/>
    </wsdl:message>
    <wsdl:message name="getReservationDataResponse">
        <wsdl:part name="parameters" element="ns0:getReservationDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getOsiContentsRequest">
        <wsdl:part name="parameters" element="ns0:getOsiContents"/>
    </wsdl:message>
    <wsdl:message name="getOsiContentsResponse">
        <wsdl:part name="parameters" element="ns0:getOsiContentsResponse"/>
    </wsdl:message>
    <wsdl:portType name="ReservationService_1_0PortType">
        <wsdl:operation name="getEnplanements">
            <wsdl:input message="ns0:getEnplanementsRequest" wsaw:Action="urn:getEnplanements"/>
            <wsdl:output message="ns0:getEnplanementsResponse" wsaw:Action="urn:getEnplanementsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="writeRemark">
            <wsdl:input message="ns0:writeRemarkRequest" wsaw:Action="urn:writeRemark"/>
            <wsdl:output message="ns0:writeRemarkResponse" wsaw:Action="urn:writeRemarkResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getReservationData">
            <wsdl:input message="ns0:getReservationDataRequest" wsaw:Action="urn:getReservationData"/>
            <wsdl:output message="ns0:getReservationDataResponse" wsaw:Action="urn:getReservationDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOsiContents">
            <wsdl:input message="ns0:getOsiContentsRequest" wsaw:Action="urn:getOsiContents"/>
            <wsdl:output message="ns0:getOsiContentsResponse" wsaw:Action="urn:getOsiContentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReservationService_1_0SOAP11Binding" type="ns0:ReservationService_1_0PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEnplanements">
            <soap:operation soapAction="urn:getEnplanements" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeRemark">
            <soap:operation soapAction="urn:writeRemark" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReservationData">
            <soap:operation soapAction="urn:getReservationData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOsiContents">
            <soap:operation soapAction="urn:getOsiContents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReservationService_1_0SOAP12Binding" type="ns0:ReservationService_1_0PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEnplanements">
            <soap12:operation soapAction="urn:getEnplanements" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeRemark">
            <soap12:operation soapAction="urn:writeRemark" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReservationData">
            <soap12:operation soapAction="urn:getReservationData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOsiContents">
            <soap12:operation soapAction="urn:getOsiContents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReservationService_1_0HttpBinding" type="ns0:ReservationService_1_0PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getEnplanements">
            <http:operation location="ReservationService_1_0/getEnplanements"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getEnplanements"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEnplanements"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeRemark">
            <http:operation location="ReservationService_1_0/writeRemark"/>
            <wsdl:input>
                <mime:content type="text/xml" part="writeRemark"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="writeRemark"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReservationData">
            <http:operation location="ReservationService_1_0/getReservationData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getReservationData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getReservationData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOsiContents">
            <http:operation location="ReservationService_1_0/getOsiContents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getOsiContents"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getOsiContents"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReservationService_1_0">
        <wsdl:port name="ReservationService_1_0SOAP11port_http" binding="ns0:ReservationService_1_0SOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ReservationService_1_0"/>
        </wsdl:port>
        <wsdl:port name="ReservationService_1_0SOAP12port_http" binding="ns0:ReservationService_1_0SOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ReservationService_1_0"/>
        </wsdl:port>
        <wsdl:port name="ReservationService_1_0Httpport" binding="ns0:ReservationService_1_0HttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ReservationService_1_0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
