Trunk_Jun_09_08/src/com/bagnet/nettracer/ws/onlineclaims/Claims.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://onlineclaims.ws.nettracer.bagnet.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://pojo.core.ws.nettracer.bagnet.com/xsd" xmlns:ax21="http://onlineclaims.ws.nettracer.bagnet.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://onlineclaims.ws.nettracer.bagnet.com">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://onlineclaims.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://onlineclaims.ws.nettracer.bagnet.com">
            <xs:import namespace="http://onlineclaims.ws.nettracer.bagnet.com/xsd"/>
            <xs:element name="saveNewIncident">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="incident" nillable="true" type="ax22:Incident"/>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ax22:NtAuth"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveNewIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="incidentId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="claim" nillable="true" type="ax22:Claim"/>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ax22:NtAuth"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="incidentId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="claimId" type="xs:long"/>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ax22:NtAuth"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Claim"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authPassenger">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="passengerLastName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="passengerFirstName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="incidentId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ax22:NtAuth"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authPassengerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:PassengerView"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authIncident">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ax22:NtAuth"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Incident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authAdminUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ax22:NtAuth"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authAdminUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.core.ws.nettracer.bagnet.com/xsd">
            <xs:complexType name="WS_PVAdvancedIncident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="canCreateClaim" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimChecks" nillable="true" type="ax23:WS_ClaimCheck"/>
                    <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="companycode_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="dispcreatetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="itemType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="ax23:WS_PVItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax23:WS_PVPassenger"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_ClaimCheck">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scans" nillable="true" type="ax23:WS_ScanPoints"/>
                    <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_ScanPoints">
                <xs:sequence>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagstatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimchecknum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deliveryStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastDeliveryUpdate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="state_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_PVPassenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homephone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hotel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workphone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://pojo.core.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://onlineclaims.ws.nettracer.bagnet.com/xsd">
            <xs:import namespace="http://pojo.core.ws.nettracer.bagnet.com/xsd"/>
            <xs:complexType name="Incident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authID" type="xs:int"/>
                    <xs:element minOccurs="0" name="authStatus" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bag" nillable="true" type="ax21:IncidentBag"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimCheck" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deliverWithoutSignature" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="deliveryAddress" nillable="true" type="ax21:IncidentAddress"/>
                    <xs:element minOccurs="0" name="deliveryType" type="xs:int"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itinerary" nillable="true" type="ax21:IncidentItinerary"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numPassengers" type="xs:int"/>
                    <xs:element minOccurs="0" name="osi" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phone" nillable="true" type="ax21:IncidentPhone"/>
                    <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IncidentBag">
                <xs:sequence>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IncidentAddress">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="permanent" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="province" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IncidentItinerary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="departureCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="departureDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="flightNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IncidentPhone">
                <xs:sequence>
                    <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="other" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NtAuth">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attemptToClaimAtArrival" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bag" nillable="true" type="ax21:Bag"/>
                    <xs:element minOccurs="0" name="bagClearCustoms" type="xs:int"/>
                    <xs:element minOccurs="0" name="bagReceivedDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="bagWeight" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="baggageReroutedEnRoute" type="xs:int"/>
                    <xs:element minOccurs="0" name="bagsDelayed" type="xs:int"/>
                    <xs:element minOccurs="0" name="bagsStillMissing" type="xs:int"/>
                    <xs:element minOccurs="0" name="bagsTravelWith" type="xs:int"/>
                    <xs:element minOccurs="0" name="businessName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="chargedForExcessBaggage" type="xs:int"/>
                    <xs:element minOccurs="0" name="checkedLocation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="checkedLocationDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimId" type="xs:long"/>
                    <xs:element minOccurs="0" name="claimStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimType" type="xs:int"/>
                    <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="declaredCurrency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="declaredExcessValue" type="xs:int"/>
                    <xs:element minOccurs="0" name="declaredValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="differentClaimCheck" type="xs:int"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="file" nillable="true" type="ax21:File"/>
                    <xs:element minOccurs="0" name="filedPreviousAirline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filedPreviousClaim" type="xs:int"/>
                    <xs:element minOccurs="0" name="filedPreviousClaimant" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filedPrevoiusDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="foreignCurrencyEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="frequentFlierNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="haveToRecheck" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itinerary" nillable="true" type="ax21:Itinerary"/>
                    <xs:element minOccurs="0" name="lastSawBaggage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lengthOfStay" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mailingAddress" nillable="true" type="ax21:Address"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="ax21:Message"/>
                    <xs:element minOccurs="0" name="occupation" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passenger" nillable="true" type="ax21:Passenger"/>
                    <xs:element minOccurs="0" name="passengersTravelingWithYou" type="xs:int"/>
                    <xs:element minOccurs="0" name="paxClaimAmount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paxClaimAmountCurrency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paxClaimDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paxIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="permanentAddress" nillable="true" type="ax21:Address"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phone" nillable="true" type="ax21:Phone"/>
                    <xs:element minOccurs="0" name="privateInsurance" type="xs:int"/>
                    <xs:element minOccurs="0" name="privateInsuranceAddr" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="privateInsuranceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reasonForTravel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reportedAirline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reportedCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reportedFileNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reportedToAnotherAirline" type="xs:int"/>
                    <xs:element minOccurs="0" name="requestForeignCurrency" type="xs:int"/>
                    <xs:element minOccurs="0" name="reroutedAirlineCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reroutedReason" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ticketNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ticketWithAnotherAirline" type="xs:int"/>
                    <xs:element minOccurs="0" name="tsaInspected" type="xs:int"/>
                    <xs:element minOccurs="0" name="tsaInspectionLocation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tsaNotePresent" type="xs:int"/>
                    <xs:element minOccurs="0" name="wasBagInspected" type="xs:int"/>
                    <xs:element minOccurs="0" name="whereDidYouFileReport" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="whereWasBaggageChecked" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Bag">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bagArrive" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="bagColor" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagCurrency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagOwner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contents" nillable="true" type="ax21:Contents"/>
                    <xs:element minOccurs="0" name="externalMarkings" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="feet" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="hardSided" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="leather" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="locks" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="metal" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="nameOnBag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameTag" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="pockets" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="pullStrap" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="purchaseDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="retractibleHandle" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ribbonsOrMarkings" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="softSided" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trim" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="trimDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wheels" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="zippers" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Contents">
                <xs:sequence>
                    <xs:element minOccurs="0" name="article" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contentOwner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="male" type="xs:int"/>
                    <xs:element minOccurs="0" name="price" type="xs:double"/>
                    <xs:element minOccurs="0" name="purchasedAt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchasedDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="quantity" type="xs:int"/>
                    <xs:element minOccurs="0" name="size" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="interim" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publish" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Itinerary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="departureCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flightNum" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stateProvince" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dateCreated" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="dateReviewed" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publish" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="statusId" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Passenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accept" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middleInitial" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="salutation" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Phone">
                <xs:sequence>
                    <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phoneType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PassengerView">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authenticationSuccess" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="claimId" type="xs:long"/>
                    <xs:element minOccurs="0" name="data" nillable="true" type="ax24:WS_PVAdvancedIncident"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="loadClaimRequest">
        <wsdl:part name="parameters" element="ns:loadClaim"/>
    </wsdl:message>
    <wsdl:message name="loadClaimResponse">
        <wsdl:part name="parameters" element="ns:loadClaimResponse"/>
    </wsdl:message>
    <wsdl:message name="saveNewIncidentRequest">
        <wsdl:part name="parameters" element="ns:saveNewIncident"/>
    </wsdl:message>
    <wsdl:message name="saveNewIncidentResponse">
        <wsdl:part name="parameters" element="ns:saveNewIncidentResponse"/>
    </wsdl:message>
    <wsdl:message name="authPassengerRequest">
        <wsdl:part name="parameters" element="ns:authPassenger"/>
    </wsdl:message>
    <wsdl:message name="authPassengerResponse">
        <wsdl:part name="parameters" element="ns:authPassengerResponse"/>
    </wsdl:message>
    <wsdl:message name="authAdminUserRequest">
        <wsdl:part name="parameters" element="ns:authAdminUser"/>
    </wsdl:message>
    <wsdl:message name="authAdminUserResponse">
        <wsdl:part name="parameters" element="ns:authAdminUserResponse"/>
    </wsdl:message>
    <wsdl:message name="saveClaimRequest">
        <wsdl:part name="parameters" element="ns:saveClaim"/>
    </wsdl:message>
    <wsdl:message name="saveClaimResponse">
        <wsdl:part name="parameters" element="ns:saveClaimResponse"/>
    </wsdl:message>
    <wsdl:message name="authIncidentRequest">
        <wsdl:part name="parameters" element="ns:authIncident"/>
    </wsdl:message>
    <wsdl:message name="authIncidentResponse">
        <wsdl:part name="parameters" element="ns:authIncidentResponse"/>
    </wsdl:message>
    <wsdl:portType name="OnlineClaimsServicePortType">
        <wsdl:operation name="loadClaim">
            <wsdl:input message="ns:loadClaimRequest" wsaw:Action="urn:loadClaim"/>
            <wsdl:output message="ns:loadClaimResponse" wsaw:Action="urn:loadClaimResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveNewIncident">
            <wsdl:input message="ns:saveNewIncidentRequest" wsaw:Action="urn:saveNewIncident"/>
            <wsdl:output message="ns:saveNewIncidentResponse" wsaw:Action="urn:saveNewIncidentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authPassenger">
            <wsdl:input message="ns:authPassengerRequest" wsaw:Action="urn:authPassenger"/>
            <wsdl:output message="ns:authPassengerResponse" wsaw:Action="urn:authPassengerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authAdminUser">
            <wsdl:input message="ns:authAdminUserRequest" wsaw:Action="urn:authAdminUser"/>
            <wsdl:output message="ns:authAdminUserResponse" wsaw:Action="urn:authAdminUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveClaim">
            <wsdl:input message="ns:saveClaimRequest" wsaw:Action="urn:saveClaim"/>
            <wsdl:output message="ns:saveClaimResponse" wsaw:Action="urn:saveClaimResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authIncident">
            <wsdl:input message="ns:authIncidentRequest" wsaw:Action="urn:authIncident"/>
            <wsdl:output message="ns:authIncidentResponse" wsaw:Action="urn:authIncidentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OnlineClaimsServiceSoap11Binding" type="ns:OnlineClaimsServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveNewIncident">
            <soap:operation soapAction="urn:saveNewIncident" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loadClaim">
            <soap:operation soapAction="urn:loadClaim" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authPassenger">
            <soap:operation soapAction="urn:authPassenger" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authAdminUser">
            <soap:operation soapAction="urn:authAdminUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveClaim">
            <soap:operation soapAction="urn:saveClaim" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authIncident">
            <soap:operation soapAction="urn:authIncident" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OnlineClaimsServiceSoap12Binding" type="ns:OnlineClaimsServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveNewIncident">
            <soap12:operation soapAction="urn:saveNewIncident" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loadClaim">
            <soap12:operation soapAction="urn:loadClaim" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authPassenger">
            <soap12:operation soapAction="urn:authPassenger" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authAdminUser">
            <soap12:operation soapAction="urn:authAdminUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveClaim">
            <soap12:operation soapAction="urn:saveClaim" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authIncident">
            <soap12:operation soapAction="urn:authIncident" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OnlineClaimsServiceHttpBinding" type="ns:OnlineClaimsServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="saveNewIncident">
            <http:operation location="OnlineClaimsService/saveNewIncident"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveNewIncident"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveNewIncident"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loadClaim">
            <http:operation location="OnlineClaimsService/loadClaim"/>
            <wsdl:input>
                <mime:content type="text/xml" part="loadClaim"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="loadClaim"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authPassenger">
            <http:operation location="OnlineClaimsService/authPassenger"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authPassenger"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authPassenger"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authAdminUser">
            <http:operation location="OnlineClaimsService/authAdminUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authAdminUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authAdminUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveClaim">
            <http:operation location="OnlineClaimsService/saveClaim"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveClaim"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveClaim"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authIncident">
            <http:operation location="OnlineClaimsService/authIncident"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authIncident"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authIncident"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OnlineClaimsService">
        <wsdl:port name="OnlineClaimsServiceHttpSoap11Endpoint" binding="ns:OnlineClaimsServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/OnlineClaimsService"/>
        </wsdl:port>
        <wsdl:port name="OnlineClaimsServiceHttpSoap12Endpoint" binding="ns:OnlineClaimsServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/OnlineClaimsService"/>
        </wsdl:port>
        <wsdl:port name="OnlineClaimsServiceHttpEndpoint" binding="ns:OnlineClaimsServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/OnlineClaimsService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
