Axis15/xsd/WTR_BagTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Siva (SITA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iata="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="0.1" id="WTR2009A">
	<xs:include schemaLocation="WTR_SimpleTypes.xsd"/>
	<xs:include schemaLocation="WTR_CommonTypes.xsd"/>
	<xs:import namespace="http://www.iata.org/IATA/2007/00" schemaLocation="IATA_SimpleTypes.xsd"/>
	<!-- xs:include schemaLocation="OTA_CommonTypes.xsd"/> -->
	<xs:complexType name="DelayedBagRecordType">
		<xs:sequence>
			<xs:element name="Passengers" type="PassengerItineraryType"/>
			<xs:element name="DelayedBagGroup" type="DelayedBagGroupType"/>
			<xs:element name="Claim" type="ClaimType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BagGroupType">
		<xs:sequence>
			<xs:element name="BagAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AB - Addresses on bags</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="StringLength0to58" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BaggageWeight" type="StringLength1to58" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BW - Baggage Weight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentsGender" type="GenderType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CG - Contents Gender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Delivery" type="DeliveryType" minOccurs="0"/>
			<xs:element name="BagPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BP - Phone listed on the bags. Max 2 number can be entered</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="StringLength0to20" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BagGroupAmendType">
		<xs:sequence>
			<xs:element name="BagAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AB - Addresses on bags</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="StringLength0to58AmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BaggageWeight" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BW - Baggage Weight</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContentsGender" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CG - Contents Gender</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="GenderType">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Delivery" type="DeliveryAmendType" minOccurs="0"/>
			<xs:element name="BagPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BP - Phone listed on the bags. Max 2 number can be entered</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="PhoneAmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelayedBagGroupType">
		<xs:complexContent>
			<xs:extension base="BagGroupType">
				<xs:sequence>
					<xs:element name="DelayedBags">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DelayedBag" type="DelayedBagType" maxOccurs="10"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagLastSeen" type="iata:StationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BL - Station Bag last seen at</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaggageItinerary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BR - Itenerary on the bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightDateOrARNK" type="FlightDateOrARNKType" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessBaggage" type="AlphaNumericStringLength1to15" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BX - Excess bagage Ticket Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BagTagDestinations" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DB - Destination on BaggateTag</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Station" type="iata:StationType" maxOccurs="2"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="KeysCollected" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>KK - Indicates that the passengers baggage keys were collected or not</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MissingWeight" type="AlphaNumericStringLength1to9" minOccurs="0">
						<xs:annotation>
							<xs:documentation>NW - Total weight of the missing baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MatchWindow" minOccurs="0">
						<xs:annotation>
							<xs:documentation>MW - Used as a qualifier to limit matches to only those On-Hand bags where the lowest date in filght falls with in the date range specified in the match window</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="99"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelayedBagGroupAmendType">
		<xs:complexContent>
			<xs:extension base="BagGroupAmendType">
				<xs:sequence>
					<xs:element name="DelayedBags" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DelayedBag" minOccurs="0" maxOccurs="10">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="DelayedBagAmendType">
												<xs:attribute name="Seq" type="xs:int" use="optional" default="0"/>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagLastSeen" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BL - Station Bag last seen at</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaLength0to4">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaggageItinerary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BR - Itenerary on the bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0">
								<xs:element name="FlightDateOrARNK" type="FlightDateOrARNKType" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessBaggage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BX - Excess bagage Ticket Number</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaNumericStringLength0to15">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagTagDestinations" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DB - Destination on BaggateTag</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0">
								<xs:element name="Station" type="iata:StationType" maxOccurs="2"/>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="KeysCollected" minOccurs="0">
						<xs:annotation>
							<xs:documentation>KK - Indicates that the passengers baggage keys were collected or not</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:boolean">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="MissingWeight" minOccurs="0">
						<xs:annotation>
							<xs:documentation>NW - Total weight of the missing baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaNumericStringLength0to9">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="MatchWindow" minOccurs="0">
						<xs:annotation>
							<xs:documentation>MW - Used as a qualifier to limit matches to only those On-Hand bags where the lowest date in filght falls with in the date range specified in the match window</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="NumericLength2">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BagType">
		<xs:sequence>
			<xs:element name="ColorTypeDesc" type="ColorTypeDescType">
				<xs:annotation>
					<xs:documentation>CT - Contains color, type and description of a bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BagTag" type="BagTagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TN - Contains baggage tag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BI - Contains bag manufacturers name</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength2to58">
							<xs:attribute name="Suspended" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BagDelivery" type="BagDeliveryType" minOccurs="0"/>
			<xs:element name="LockCode" type="AlphaNumericStringLength1to6" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CL - Cobination lock code of a bag</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BagAmendType">
		<xs:sequence>
			<xs:element name="ColorTypeDesc" type="ColorTypeDescAmendType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CT - Contains color, type and description of a bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BagTag" type="BagTagAmendType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TN - Contains baggage tag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BI - Contains bag manufacturers name</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BagDelivery" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BagReceivedDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>DR - Date and time the bag was received at the tracing station for forwarding to the passenger</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:date">
										<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Status" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OutForDelivery" minOccurs="0">
										<xs:annotation>
											<xs:documentation>OF - Out for delivery bag status</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="StringLength0to58">
													<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Delivered" minOccurs="0">
										<xs:annotation>
											<xs:documentation>OD - Delivered bag status</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="StringLength0to58">
													<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="UnableToDeliver" minOccurs="0">
										<xs:annotation>
											<xs:documentation>UN - Unable to deliver bag status</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="StringLength0to58">
													<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="TrackingUpdate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>UP - Status indicatign a tracking update</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="StringLength0to58">
													<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeliveredTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>DD - Date and time a bag is delivered</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:date">
										<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LockCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CL - Cobination lock code of a bag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaNumericStringLength0to6">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelayedBagType">
		<xs:complexContent>
			<xs:extension base="BagType">
				<xs:sequence>
					<xs:element name="BagContents" type="ContentsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CC - Contians the description of the contents in a bag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BagDetails" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BD - Details of the baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentsDesc" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CN - Contains a description of dealyed or on-hand bags</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Remarks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RK - General remarks about the bag</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Remark" type="StringLength1to58" maxOccurs="3"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AssociatedRecord" type="RecordIdentifierType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>AR - Associated Record</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelayedBagAmendType">
		<xs:complexContent>
			<xs:extension base="BagAmendType">
				<xs:sequence>
					<xs:element name="BagContents" type="ContentsAmendType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CC - Contians the description of the contents in a bag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentsDesc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CN - Contains a description of dealyed or on-hand bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength1to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BD - Details of the baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Remarks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RK - General remarks about the bag</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Remark" type="StringLength0to58" maxOccurs="3"/>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OnHandBagRecordType">
		<xs:sequence>
			<xs:element name="OnHandBag" type="OnHandBagType"/>
			<xs:element name="Passengers" type="PassengerItineraryType"/>
			<xs:element name="Claim" type="ClaimType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnHandBagType">
		<xs:complexContent>
			<xs:extension base="BagType">
				<xs:sequence>
					<xs:element name="Itinerary">
						<xs:annotation>
							<xs:documentation>FD/RT - Flights, dates and routes the passenger travelled</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightSegments">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="FlightSegment" type="FlightOptionalDateOrARNKType" maxOccurs="5"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Routes">
									<xs:annotation>
										<xs:documentation>RT - Additional route stations</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Route" type="iata:StationType" maxOccurs="5"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagAddress" minOccurs="0">
						<xs:annotation>
							<xs:documentation>AB - Addresses on bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AddressLine" type="StringLength0to58" maxOccurs="2"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagContents" type="ContentsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CC - Contians the description of the contents in a bag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentsDesc" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CN - Contains a description of dealyed or on-hand bags</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentsGender" type="GenderType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CG - Contents Gender</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Remarks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RK - General remarks about the bag</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Remark" type="StringLength1to58" maxOccurs="3"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="StorageLocation" type="iata:StringLength1to32" minOccurs="0">
						<xs:annotation>
							<xs:documentation>SL - Storage Location of the bag within claim area</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BagPhones" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BP - Phone listed on the bags. Max 2 number can be entered</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Phone" type="StringLength0to20" maxOccurs="2"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaggageWeight" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BW - Baggage Weight</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delivery" type="DeliveryType" minOccurs="0"/>
					<xs:element name="RushTag" type="BagTagType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XT - Rush Bag Tag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LossComments" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RC - Contains comments regarding the reason for the loss of baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OnHandBagAmendType">
		<xs:complexContent>
			<xs:extension base="BagAmendType">
				<xs:sequence>
					<xs:element name="Itinerary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>FD/RT - Flights, dates and routes the passenger travelled</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightSegments" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="FlightSegment" type="FlightOptionalDateOrARNKType" maxOccurs="5"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Routes" minOccurs="0">
									<xs:annotation>
										<xs:documentation>RT - Additional route stations</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Route" type="iata:StationType" maxOccurs="5"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagAddress" minOccurs="0">
						<xs:annotation>
							<xs:documentation>AB - Addresses on bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AddressLine" type="StringLength0to58AmendType" maxOccurs="2"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagContents" type="ContentsAmendType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CC - Contians the description of the contents in a bag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentsDesc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CN - Contains a description of dealyed or on-hand bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ContentsGender" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CG - Contents Gender</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="GenderType">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="StorageLocation" minOccurs="0">
						<xs:annotation>
							<xs:documentation>SL - Storage Location of the bag within claim area</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to32">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagPhones" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BP - Phone listed on the bags. Max 2 number can be entered</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Phone" maxOccurs="2">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="StringLength0to20">
												<xs:attributeGroup ref="AmendGroup"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaggageWeight" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BW - Baggage Weight</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Delivery" type="DeliveryAmendType" minOccurs="0"/>
					<xs:element name="RushTag" type="BagTagAmendType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XT - Rush Bag Tag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LossComments" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RC - Contains comments regarding the reason for the loss of baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Remarks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RK - General remarks about the bag</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0">
								<xs:element name="Remark" type="StringLength0to58" maxOccurs="3"/>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagDelivered" type="EmptyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XD - Bag delivered indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RushBagRecordType">
		<xs:annotation>
			<xs:documentation>This holds all the information in a rush bag record</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RushBagGroup" type="RushBagGroupType"/>
			<xs:element name="ReasonForLossCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LossComments" type="StringLength1to58" minOccurs="0"/>
			<xs:element name="SupplimentalInfo" type="StringLength1to58" minOccurs="0" maxOccurs="2"/>
			<xs:element name="FaultStationCode" type="iata:StationType" minOccurs="0"/>
			<xs:element name="FaultTerminal" type="AlphaNumericStringLength2" minOccurs="0"/>
			<xs:element name="HandledAirlineCopyInd" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RushBagGroupType">
		<xs:sequence>
			<xs:element name="RushBags">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RushBag" type="RushBagType" maxOccurs="18"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RushFlights">
				<xs:annotation>
					<xs:documentation>FO - Itenerary used to forward a rush bag to its final destination</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightDateOrARNK" maxOccurs="4">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>FD - Contians Flight date or ARNK</xs:documentation>
								</xs:annotation>
								<xs:choice>
									<xs:element name="FlightDate" type="FlightDateType"/>
									<xs:element name="ARNK" type="ARNK_Type"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RushDestinations">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Destination" type="StationAirlineType" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OriginalFlights" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FD - Orignal flights that the bag routed to.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightDateOrARNK" type="FlightDateOrARNKType" minOccurs="0" maxOccurs="4"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NumberOfBags" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FB - number of bags forwarded</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Names" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NM - Names on the bags</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="AlphaLength2to16" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RushBagType">
		<xs:sequence>
			<xs:element name="RushBagTag" type="BagTagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>XT - Expidited tag number for the rush bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalBagTag" type="BagTagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TN - Original tag number on the rush bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ColorTypeDesc" type="ColorTypeDescType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CT - Color, type and description of the bag</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DamagedBagGroupType">
		<xs:annotation>
			<xs:documentation>This holds information about the damaged bag group</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BagGroupType">
				<xs:sequence>
					<xs:element name="DamagedBags">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DamagedBag" type="DamagedBagType" maxOccurs="10"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaggageItinerary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BR - Itenerary on the bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightDateOrARNK" type="FlightDateOrARNKType" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessBaggage" type="AlphaNumericStringLength1to15" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BX - Excess bagage Ticket Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MissingWeight" type="AlphaNumericStringLength1to9" minOccurs="0">
						<xs:annotation>
							<xs:documentation>NW - Total weight of the missing baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LostContents" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>LP - Contains the conents that are missing from the damaged or pilfered bags</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentsDamageDesc" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CD - Contains a detailed description of the contents of the passenger's damaged baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DamagedBagGroupAmendType">
		<xs:annotation>
			<xs:documentation>This holds information about the damaged bag group for amends</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BagGroupAmendType">
				<xs:sequence>
					<xs:element name="DamagedBags" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DamagedBag" maxOccurs="10">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="DamagedBagAmendType">
												<xs:attribute name="Seq" type="xs:int" use="optional" default="0"/>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaggageItinerary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BR - Itenerary on the bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0">
								<xs:element name="FlightDateOrARNK" type="FlightDateOrARNKType" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessBaggage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BX - Excess bagage Ticket Number</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaNumericStringLength0to15">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="MissingWeight" minOccurs="0">
						<xs:annotation>
							<xs:documentation>NW - Total weight of the missing baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaNumericStringLength0to9">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LostContents" minOccurs="0">
						<xs:annotation>
							<xs:documentation>LP - Contains the conents that are missing from the damaged or pilfered bags</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ContentsDamageDesc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CD - Contains a detailed description of the contents of the passenger's damaged baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DamagedBagType">
		<xs:complexContent>
			<xs:extension base="BagType">
				<xs:sequence>
					<xs:element name="BagDetails" type="StringLength1to58" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BD - Details of the baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AssociatedRecord" type="RecordIdentifierType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>AR - Associated Record</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DamageTypes" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TD - Type of damage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DamageType" type="DamageTypeType" maxOccurs="2"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DamagedBagAmendType">
		<xs:complexContent>
			<xs:extension base="BagAmendType">
				<xs:sequence>
					<xs:element name="DamageTypes" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TD - Type of damage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DamageType" type="DamageTypeType" maxOccurs="2"/>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="BagDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BD - Details of the baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdditionalInfoType">
		<xs:sequence>
			<xs:element name="MiscInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FF - Free form text, additional notes from the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength0to58" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>FF - upto 99 lines of free form text</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FurtherInfo" type="StringLength1to58" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FI - Contians further info about where the bag is located</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplimentalInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SI - Supplimental info</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength0to58" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomsInfo" type="StringLength1to58" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CI - Contains Information about special circumstances involving customs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInfoAmendType">
		<xs:sequence>
			<xs:element name="MiscInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FF - Free form text, additional notes from the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength0to58AmendType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>FF - upto 99 lines of free form text</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FurtherInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FI - Contians further info about where the bag is located</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupplimentalInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SI - Supplimental info</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength0to58AmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomsInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CI - Contains Information about special circumstances involving customs</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>One of DY, MG or MR can be amended at a time</xs:documentation>
				</xs:annotation>
				<xs:element name="DeliveryInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>DY - Delivery Information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" type="StringLength0to2000AmendType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MessageInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>MG - Free from message information of length 2000</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" type="StringLength0to2000AmendType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MatchInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>MR - Matching information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" type="StringLength0to2000AmendType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelayedClaimType">
		<xs:complexContent>
			<xs:extension base="ClaimType">
				<xs:sequence>
					<xs:element name="LossReasonCode" type="LossReasonCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RL - Contains comments regarding the reason for loss of the baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ToiletKits" minOccurs="0">
						<xs:annotation>
							<xs:documentation>KT - Number of toiletry kits issued</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Male" type="NumericLength2" minOccurs="0"/>
								<xs:element name="Female" type="NumericLength2" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessValue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XV - Additional value the claimant declared for thier baggage and contents</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="iata:CurrencyAmountGroup"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelayedClaimAmendType">
		<xs:complexContent>
			<xs:extension base="ClaimAmendType">
				<xs:sequence>
					<xs:element name="LossReasonCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RL - Contains comments regarding the reason for loss of the baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="NumericLength2">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ToiletKits" minOccurs="0">
						<xs:annotation>
							<xs:documentation>KT - Number of toiletry kits issued</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0">
								<xs:element name="Male" type="NumericLength2" minOccurs="0"/>
								<xs:element name="Female" type="NumericLength2" minOccurs="0"/>
							</xs:sequence>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessValue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XV - Additional value the claimant declared for thier baggage and contents</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="iata:CurrencyAmountGroup"/>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DamageClaimType">
		<xs:complexContent>
			<xs:extension base="ClaimType">
				<xs:sequence>
					<xs:element name="LossReasonCode" type="LossReasonCodeType">
						<xs:annotation>
							<xs:documentation>RL - Contains comments regarding the reason for loss of the baggage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReplacementBag" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RB - Indicates that the passenegers damaged bag will be replace or not</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RepairBag" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RP - Indicates whether the damaged bag will or will not be repaired</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExcessValue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XV - Additional value the claimant declared for thier baggage and contents</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="iata:CurrencyAmountGroup"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DamageClaimAmendType">
		<xs:complexContent>
			<xs:extension base="ClaimAmendType">
				<xs:sequence>
					<xs:element name="LossReasonCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RL - Contains comments regarding the reason for loss of the baggage</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="NumericLength2">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReplacementBag" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RB - Indicates that the passenegers damaged bag will be replace or not</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:boolean">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="RepairBag" minOccurs="0">
						<xs:annotation>
							<xs:documentation>RP - Indicates whether the damaged bag will or will not be repaired</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:boolean">
									<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExcessValue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XV - Additional value the claimant declared for thier baggage and contents</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="iata:CurrencyAmountGroup"/>
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
