Axis15/xsd/WTR_CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iata="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="0.1" id="WTR2009A">
	<xs:include schemaLocation="WTR_SimpleTypes.xsd"/>
	<xs:import namespace="http://www.iata.org/IATA/2007/00" schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:complexType name="PassengerItineraryType">
		<xs:annotation>
			<xs:documentation>Contains details of a passenger like name, address etc</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PassengerType">
				<xs:sequence>
					<xs:element name="Itinerary">
						<xs:annotation>
							<xs:documentation>FD/RT - Flights, dates and routes the passenger travelled</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightSegments">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="FlightSegmentOrARNK" type="FlightSegmentOrARNKType" maxOccurs="5">
												<xs:annotation>
													<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AdditionalRoutes" minOccurs="0">
									<xs:annotation>
										<xs:documentation>RT - Additional route stations</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Route" type="iata:StationType" maxOccurs="13"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Status" type="StringLength1to25" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PS - Class of service flown by the passenger</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PooledTktNumber" type="AlphaNumericStringLength1to15" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PB - Pooled ticket number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FareBasis" type="AlphaNumericStringLength1to7" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PF - The fare basis as shown on the passengers flight ticket</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PassengerItineraryAmendType">
		<xs:annotation>
			<xs:documentation>Contains details of a passenger like name, address etc</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PassengerAmendType">
				<xs:sequence>
					<xs:element name="Itinerary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>FD/RT - Flights, dates and routes the passenger travelled</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightSegments" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Flight" type="FlightSegmentOrARNK_AmendType" maxOccurs="5">
												<xs:annotation>
													<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AdditionalRoutes" minOccurs="0">
									<xs:annotation>
										<xs:documentation>RT - Additional route stations</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Route" type="iata:StationType" maxOccurs="13"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Status" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PS - Class of service flown by the passenger</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="StringLength0to58">
									<xs:attribute name="Delete" type="xs:boolean" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PooledTktNumber" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PB - Pooled ticket number</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaNumericStringLength0to15">
									<xs:attribute name="Delete" type="xs:boolean" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FareBasis" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PF - The fare basis as shown on the passengers flight ticket</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="AlphaNumericStringLength0to7">
									<xs:attribute name="Delete" type="xs:boolean" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeliveryType">
		<xs:annotation>
			<xs:documentation>Contians the deatials required for the delivery of the bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeliveryAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DA - Delivery address required for baggage delivery</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="StringLength0to58" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryWeight" type="AlphaNumericStringLength1to9" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DW - Number and weight of the bags being delivered to the passenger</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocalDlvInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LD - Contains local delivery information and special instructions</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DlvInfo" type="StringLength0to58" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryService" type="StringLength0to58" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>DS - Delivery Service details. Display purpose only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryInfo" type="StringLength0to2000" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>DY - Delivery Information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryAmendType">
		<xs:annotation>
			<xs:documentation>Contians the deatials required for the delivery of the bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeliveryAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DA - Delivery address required for baggage delivery</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="StringLength0to58AmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryWeight" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DW - Number and weight of the bags being delivered to the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaNumericStringLength0to9">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LocalDlvInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LD - Contains local delivery information and special instructions</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DlvInfo" type="StringLength0to58AmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryService" type="StringLength0to58AmendType" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>DS - Delivery Service details. Display purpose only</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClaimType">
		<xs:annotation>
			<xs:documentation>Contains the claim data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClaimAmout" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CA - Contains the passeneger estimated value of the lost or damaged items. Can hava value or unknown</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Unknown" type="EmptyType"/>
						<xs:element name="Amount">
							<xs:complexType>
								<xs:attributeGroup ref="iata:CurrencyAmountGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="CostRemarks" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CR - Contians an explanation of the cost payed to passenger (CS element)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength1to58" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PassengerPayments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CS - All the costs paid to the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PassengerPayment" type="PassengerPaymentType" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClaimDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DC - Contains the date that the completed claim form is received</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNotified" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DN - Date the claims deparment was notified</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuestionnaireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DQ - Quesstionnaire date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FaultStationCode" type="iata:StationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FS - Station responsible for the mishandling of the bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FaultTerminal" type="AlphaNumericStringLength2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FT - Terminal  responsible for the mishandling of the bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Insurance" type="EmptyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IN - Indicates whether the passenger has baggage insurance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiabilityTag" type="EmptyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LT - Liability tag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MissingBags" type="NumericLength2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MB - Contains number of bags the claimant reports missing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PC - Contins the carrier code of the code share partner</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="CarrierCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[a-zA-Z0-9]{2,3}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="None"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="LossComments" type="StringLength1to58" minOccurs="0">
				<xs:annotation>
					<xs:documentation>RC - Contains comments regarding the reason for the loss of baggage</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClaimAmendType">
		<xs:annotation>
			<xs:documentation>Contains the claim data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClaimAmout" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CA - Contains the passeneger estimated value of the lost or damaged items. Can hava value or unknown</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="0">
						<xs:element name="Unknown" type="EmptyType"/>
						<xs:element name="Amount" type="AmountType"/>
					</xs:choice>
					<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CostRemarks" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CR - Contians an explanation of the cost payed to passenger (CS element)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength0to58AmendType" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PassengerPayments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CS - All the costs paid to the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PassengerPayment" type="PassengerPaymentAmendType" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClaimDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DC - Contains the date that the completed claim form is received</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DateNotified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DN - Date the claims deparment was notified</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuestionnaireDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DQ - Quesstionnaire date</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FaultStationCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FS - Station responsible for the mishandling of the bag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaLength0to4">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FaultTerminal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FT - Terminal  responsible for the mishandling of the bag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaNumericStringLength0or2">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Insurance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IN - Indicates whether the passenger has baggage insurance</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="EmptyType">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LiabilityTag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LT - Liability tag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="EmptyType">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MissingBags" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MB - Contains number of bags the claimant reports missing</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NumericLength2">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PC - Contins the carrier code of the code share partner</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="CarrierCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[a-zA-Z0-9]{2,3}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="None"/>
					</xs:choice>
					<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="LossComments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>RC - Contains comments regarding the reason for the loss of baggage</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordIdentifierType">
		<xs:annotation>
			<xs:documentation>This identifies a unique bag record in the WorldTracer System</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordType" type="RecordType"/>
			<xs:element name="RecordReference" type="RecordReferenceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordIdentifierAmendType">
		<xs:annotation>
			<xs:documentation>This identifies a unique bag record in the WorldTracer System</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="RecordType" type="RecordType"/>
			<xs:element name="RecordReference" type="RecordReferenceType"/>
		</xs:sequence>
		<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="RecordReferenceType">
		<xs:annotation>
			<xs:documentation>This contains unique referece string to identify a particular bag type</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="StationAirlineGroup"/>
		<xs:attribute name="ReferenceNumber">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:maxInclusive value="999999"/>
					<xs:minInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StationAirlineType">
		<xs:annotation>
			<xs:documentation>Contains station airline pair</xs:documentation>
		</xs:annotation>
		<xs:attribute name="StationCode" type="iata:StationType"/>
		<xs:attribute name="AirlineCode" type="iata:AirlineType"/>
	</xs:complexType>
	<xs:complexType name="ColorTypeDescType">
		<xs:annotation>
			<xs:documentation>Contains color type of the bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ColorCode" type="ColorCodeType"/>
			<xs:element name="TypeCode" type="BagTypeCodeType"/>
			<xs:element name="Descriptor" type="BagDescType"/>
		</xs:sequence>
		<xs:attribute name="Suspended" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="BagTagType">
		<xs:annotation>
			<xs:documentation>Contains Bag Tag type details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="AirlineCode" type="iata:AirlineType"/>
				<xs:element name="LicenseNumber" type="LicenseNumberType"/>
			</xs:choice>
			<xs:element name="TagSequence" type="TagSequenceType"/>
		</xs:sequence>
		<xs:attribute name="Suspended" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="FlightType">
		<xs:annotation>
			<xs:documentation>Contains Flight and Date</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineCode" type="iata:AirlineType"/>
			<xs:element name="FlightNumber" type="FlightNumberType"/>
			<xs:element name="Date" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseNumberType">
		<xs:attribute name="TagType" type="NumericLength1" use="optional"/>
		<xs:attribute name="IssuerCode" type="IssuerCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="BagDescType">
		<xs:annotation>
			<xs:documentation>Maximum of the total elements should be 3. 1 MtrlElement + 2 OtherElement or 3 OtherElement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MtrlElement" type="BagMatrlType" minOccurs="0"/>
			<xs:element name="OtherElement" type="BagElmsType" minOccurs="2" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiaryInfoType">
		<xs:sequence>
			<xs:element name="CreateDate" type="xs:dateTime"/>
			<xs:element name="SuspendDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="TracingDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CloseDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ReinstateDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="RematchDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="LZControlDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="AssociatedRecord" type="RecordIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AR - Associated Record</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CrossReferenceRecord" type="RecordIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>XR - Contians reference to a related record</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightDateType">
		<xs:sequence>
			<xs:element name="AirlineCode" type="iata:AirlineType"/>
			<xs:element name="FlightNumber" type="FlightNumberType"/>
			<xs:element name="Date" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightOptionalDateType">
		<xs:sequence>
			<xs:element name="AirlineCode" type="iata:AirlineType"/>
			<xs:element name="FlightNumber" type="FlightNumberType" minOccurs="0"/>
			<xs:element name="Date" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightSegmentType">
		<xs:annotation>
			<xs:documentation>FD + RT - Contains Alirline code, Flight, Date and Route for that segment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FlightAndDate" type="FlightDateType" minOccurs="0"/>
			<xs:element name="OriginDestination" type="OriginDestinationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginDestinationType">
		<xs:sequence>
			<xs:element name="Origin" type="iata:StationType"/>
			<xs:element name="Destination" type="iata:StationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ARNK_SegmentType">
		<xs:annotation>
			<xs:documentation>FD3 - Contains ARNK (ground transfer) and Route</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginDestination" type="OriginDestinationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentsType">
		<xs:annotation>
			<xs:documentation>CC - Contents in a bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Content" type="ContentType" maxOccurs="12"/>
		</xs:sequence>
		<xs:attribute name="Suspended" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="ContentsAmendType">
		<xs:annotation>
			<xs:documentation>CC - Contents in a bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Content" maxOccurs="12">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContentType">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="BagDeliveryType">
		<xs:annotation>
			<xs:documentation>Contains information about the delivery of a particular bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeliveredTime" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DD - Date and time a bag is delivered</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OutForDelivery" type="StringLength0to58" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OF - Out for delivery bag status</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Delivered" type="StringLength0to58" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OD - Delivered bag status</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UnableToDeliver" type="StringLength0to58" minOccurs="0">
							<xs:annotation>
								<xs:documentation>UN - Unable to deliver bag status</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrackingUpdate" type="StringLength0to58" minOccurs="0">
							<xs:annotation>
								<xs:documentation>UP - Status indicatign a tracking update</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BagReceivedDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DR - Date and time the bag was received at the tracing station for forwarding to the passenger</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InboxAddressType">
		<xs:annotation>
			<xs:documentation>XF - Inbox Address(Action file address)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationAirline" type="StationAirlineType"/>
			<xs:element name="Area" type="InboxAreaType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassengerPaymentType">
		<xs:annotation>
			<xs:documentation>Payment paid to passenger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="CostType"/>
			<xs:element name="Amount" type="AmountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassengerPaymentAmendType">
		<xs:annotation>
			<xs:documentation>Payment paid to passenger</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Type" type="CostType"/>
			<xs:element name="Amount" type="AmountType"/>
		</xs:sequence>
		<xs:attributeGroup ref="AmendGroup"/>
	</xs:complexType>
	<xs:complexType name="ContentType">
		<xs:sequence>
			<xs:element name="Category">
				<xs:simpleType>
					<xs:union memberTypes="StandardCategoryType AlphaLength1to12"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" type="StringLength1to45" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneAmendType">
		<xs:simpleContent>
			<xs:extension base="StringLength0to20">
				<xs:attributeGroup ref="AmendGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:simpleContent>
			<xs:extension base="AlphaLength2to16"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InitialType">
		<xs:simpleContent>
			<xs:extension base="AlphaLength1to4"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RecordHistoryType">
		<xs:annotation>
			<xs:documentation>Contians history about the Worldtracer bag record history</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="History" type="StringLength1to58" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>History text for the record</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MatchHistory" type="StringLength1to58" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Match history for the record</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateRangeType">
		<xs:annotation>
			<xs:documentation>Contians a date range</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FromDate" type="xs:date"/>
			<xs:element name="ToDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BagRecordSummaryType">
		<xs:annotation>
			<xs:documentation>Contins a summary of a bag record</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordIdentifier" type="RecordIdentifierType"/>
			<xs:element name="Status" type="RecordStatus"/>
			<xs:element name="Names" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="NameType" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OriginalBags" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Bag" type="BagSummaryType" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RushBags" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Bag" type="BagSummaryType" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BagSummaryType">
		<xs:annotation>
			<xs:documentation>Contians summary of a bag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BagTag" type="BagTagType" minOccurs="0"/>
			<xs:element name="FlightDateOrARNK" type="FlightDateOrARNKType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrequentFlyerType">
		<xs:annotation>
			<xs:documentation>Contains Frequent Flyer airline and number</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineCode" type="iata:AirlineType" minOccurs="0"/>
			<xs:element name="FrequentFlyerID" type="AlphaNumericStringLength1to25"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:complexContent>
			<xs:extension base="iata:PersonNameType">
				<xs:sequence>
					<xs:element name="Initials" type="AlphaLength1to4" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Contains Address fields</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HouseNumber" type="StringLength1to8" minOccurs="0"/>
			<xs:element name="StreetName" type="StringLength1to58" minOccurs="0"/>
			<xs:element name="Apartment" type="StringLength1to8" minOccurs="0"/>
			<xs:element name="City" type="StringLength1to58" minOccurs="0"/>
			<xs:element name="State" type="StringLength1to58" minOccurs="0"/>
			<xs:element name="PostalCode" type="StringLength1to12" minOccurs="0"/>
			<xs:element name="Country" type="iata:CountryNameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessAddressType">
		<xs:complexContent>
			<xs:extension base="AddressType">
				<xs:sequence>
					<xs:element name="CompanyName" type="StringLength1to58"/>
					<xs:element name="Suite" type="StringLength1to12" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OptionalDateType">
		<xs:annotation>
			<xs:documentation>Contians 2 digit day 2 digit month Month and 4 digit year with day and month optional</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Day" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="31"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Month" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Year" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:minInclusive value="1900"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EmptyType">
		<xs:annotation>
			<xs:documentation>This is an empty type which can be use to check for existance of a tag</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="DamageTypeType">
		<xs:annotation>
			<xs:documentation>TD - Type of damage</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Location" type="DamageLocationType"/>
		<xs:attribute name="Type" type="iata:IATA_CodeType"/>
		<xs:attribute name="Amount" type="DamageAmountType"/>
	</xs:complexType>
	<xs:complexType name="SearchNameType">
		<xs:simpleContent>
			<xs:extension base="AlphaLength2to16">
				<xs:attribute name="Exact" type="xs:boolean" use="optional" default="false"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SearchBagType">
		<xs:sequence>
			<xs:element name="CreateDate" type="DateRangeType" minOccurs="0"/>
			<xs:element name="ControlDate" type="DateRangeType" minOccurs="0"/>
			<xs:element name="BagTag" type="BagTagType" minOccurs="0"/>
			<xs:element name="Brand" type="StringLength1to58" minOccurs="0"/>
			<xs:element name="ColorType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Color" type="ColorCodeType" minOccurs="0"/>
						<xs:element name="BagType" type="BagTypeCodeType" minOccurs="0"/>
						<xs:element name="BagDesc" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MtrlElement" type="BagMatrlType" minOccurs="0"/>
									<xs:element name="OtherElement" type="BagElmsType" minOccurs="0" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contents" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Content" type="ContentType" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FoundItemType">
		<xs:sequence>
			<xs:element name="Id" type="xs:int" minOccurs="0"/>
			<xs:element name="Content" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Category" type="StringLength1to58">
							<xs:annotation>
								<xs:documentation>FP - General description of found property </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Description" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TextLine" type="StringLength1to58" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DateFound" type="xs:date"/>
			<xs:element name="SupplimentalInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SI - Supplimental info</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TextLine" type="StringLength1to58" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemRangeType">
		<xs:sequence>
			<xs:element name="FromItem" type="xs:int"/>
			<xs:element name="ToItem" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="AmendGroup">
		<xs:annotation>
			<xs:documentation>Defines seuqnce number and if a delete of an elment is required</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Seq" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>
	<xs:complexType name="ContactInfoType">
		<xs:sequence>
			<xs:element name="PermanentAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PA - Permanent address of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="StringLength1to58" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TempAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TA - Temporary address of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AddressLine" type="StringLength1to58" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ValidityDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>DV - Date till the temp address is valid.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PN - Permanent Phone numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="StringLength1to20" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CellPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CP - Cellular phone numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="StringLength1to20" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TempPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TP - Temporary phone numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="StringLength1to20" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Emails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EA - Email address of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Email" type="EmailType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Faxes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FX - Fax numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fax" type="StringLength1to20" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CO - ISO country code or the country name of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="CountryCode" type="iata:ISO3166"/>
						<xs:element name="CountryName" type="StringLength1to30"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="State" type="AlphaStringLength2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ST - Two letter state code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZipCode" type="StringLength1to12" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ZP - Zip code of the passenger</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInfoAmendType">
		<xs:sequence>
			<xs:element name="PermanentAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PA - Permanent address of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="StringLength0to58AmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TempAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TA - Temporary address of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AddressLine" type="StringLength0to58AmendType" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ValidityDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>DV - Date till the temp address is valid.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:date">
										<xs:attribute name="Delete" type="xs:boolean" default="false"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PN - Permanent Phone numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="PhoneAmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CellPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CP - Cellular phone numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="PhoneAmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TempPhones" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TP - Temporary phone numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="PhoneAmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Emails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EA - Email address of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Email" type="StringLength0to58AmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Faxes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FX - Fax numbers of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fax" type="PhoneAmendType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CO - ISO country code or the country name of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="CountryCode" type="iata:ISO3166" minOccurs="0"/>
						<xs:element name="CountryName" type="StringLength1to30" minOccurs="0"/>
					</xs:choice>
					<xs:attribute name="Delete" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="State" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ST - Two letter state code.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaStringLength0to2">
							<xs:attribute name="Delete" type="xs:boolean" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZipCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ZP - Zip code of the passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to12">
							<xs:attribute name="Delete" type="xs:boolean" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightSegmentOrARNKType">
		<xs:choice>
			<xs:element name="FlightSegment" type="FlightSegmentType"/>
			<xs:element name="ARNK" type="ARNK_SegmentType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FlightSegmentOrARNK_AmendType">
		<xs:choice>
			<xs:element name="FlightSegment" type="FlightSegmentType"/>
			<xs:element name="ARNK" type="ARNK_SegmentType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PassengerType">
		<xs:sequence>
			<xs:element name="Names" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NM - Passnger surnames and other names</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="AlphaLength2to16" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Initials" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IT - Initials on the bag or passengers full initials</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Intial" type="InitialType" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Title" type="StringLength1to25" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PT - Contians passenger title Mr/Mrs/Ms/Sir/etc and first fiven name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0"/>
			<xs:element name="FrequentFlyerID" type="StringLength1to25" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FL - Frequent flyer number or ID assigned to a passenger or reflected on an on-hand bag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="StringLength1to25" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LA - Primary language the passenger speaks</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketNumber" type="AlphaNumericStringLength1to58" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TK - Passengers flight ticket number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PNR" type="AlphaNumericStringLength1to12" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PR - Passenger name record</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoOfPassengers" type="StringLength1to58" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NP - Description of number of passengers travelling together</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoMsgOption" type="AutomatedMessageOptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AM - Option to indicate if the passenger wants to recieve a message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassengerAmendType">
		<xs:sequence>
			<xs:element name="Names" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NM - Passnger surnames and other names</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" maxOccurs="3">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AlphaLength0to16">
										<xs:attributeGroup ref="AmendGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Initials" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IT - Initials on the bag or passengers full initials</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Intial" maxOccurs="3">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AlphaLength0to4">
										<xs:attributeGroup ref="AmendGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Title" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PT - Contians passenger title Mr/Mrs/Ms/Sir/etc and first fiven name</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to25">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoAmendType" minOccurs="0"/>
			<xs:element name="FrequentFlyerID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FL - Frequent flyer number or ID assigned to a passenger or reflected on an on-hand bag</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to25">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LA - Primary language the passenger speaks</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to25">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TicketNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TK - Passengers flight ticket number</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaNumericStringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PNR" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PR - Passenger name record</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlphaNumericStringLength0to12">
							<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="NoOfPassengers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NP - Description of number of passengers travelling together</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to58">
							<xs:attribute name="Delete" type="xs:boolean" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AutoMsgOption" type="AutomatedMessageOptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AM - Option to indicate if the passenger wants to recieve a message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightDateOrARNKType">
		<xs:annotation>
			<xs:documentation>FD - Contians Flight date or ARNK</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="FlightDate" type="FlightDateType"/>
			<xs:element name="ARNK" type="ARNK_Type"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FlightOptionalDateOrARNKType">
		<xs:annotation>
			<xs:documentation>FD - Contians Flight date or ARNK</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="FlightDate" type="FlightOptionalDateType"/>
			<xs:element name="ARNK" type="ARNK_Type"/>
		</xs:choice>
	</xs:complexType>
	<xs:attributeGroup name="StationAirlineGroup">
		<xs:attribute name="StationCode" type="iata:StationType" use="optional"/>
		<xs:attribute name="AirlineCode" type="iata:AirlineType" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="StringLength1to58AmendType">
		<xs:simpleContent>
			<xs:extension base="StringLength1to58">
				<xs:attributeGroup ref="AmendGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StringLength0to58AmendType">
		<xs:simpleContent>
			<xs:extension base="StringLength0to58">
				<xs:attributeGroup ref="AmendGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ColorTypeDescAmendType">
		<xs:sequence minOccurs="0">
			<xs:element name="ColorCode" type="ColorCodeType"/>
			<xs:element name="TypeCode" type="BagTypeCodeType"/>
			<xs:element name="Descriptor" type="BagDescType"/>
		</xs:sequence>
		<xs:attribute name="Suspended" type="xs:boolean"/>
		<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="BagTagAmendType">
		<xs:sequence minOccurs="0">
			<xs:choice>
				<xs:element name="AirlineCode" type="iata:AirlineType"/>
				<xs:element name="LicenseNumber" type="LicenseNumberType"/>
			</xs:choice>
			<xs:element name="TagSequence" type="TagSequenceType"/>
		</xs:sequence>
		<xs:attribute name="Suspended" type="xs:boolean"/>
		<xs:attribute name="Delete" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="StringLength0to2000AmendType">
		<xs:simpleContent>
			<xs:extension base="StringLength0to2000">
				<xs:attributeGroup ref="AmendGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountType">
		<xs:attributeGroup ref="iata:CurrencyAmountGroup"/>
	</xs:complexType>
</xs:schema>
