Trunk_Jun_09_08/src/com/bagnet/nettracer/ws/core/NTCoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://pojo.core.ws.nettracer.bagnet.com/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://core.ws.nettracer.bagnet.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://core.ws.nettracer.bagnet.com">
    <wsdl:types>
        <xs:schema xmlns:ax21="http://pojo.core.ws.nettracer.bagnet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.core.ws.nettracer.bagnet.com/xsd">
            <xs:complexType name="WS_Incident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentassigned" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="articles" nillable="true" type="ax21:WS_Article"/>
                    <xs:element minOccurs="0" name="checkedlocation" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimchecks" nillable="true" type="ax21:WS_IncidentClaimCheck"/>
                    <xs:element minOccurs="0" name="closedate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="companycode_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="courtesyreport" type="xs:int"/>
                    <xs:element minOccurs="0" name="createdate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createtime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customcleared" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultairline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultstation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_ID" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="ax21:WS_Item"/>
                    <xs:element minOccurs="0" name="itemtype" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itineraries" nillable="true" type="ax21:WS_Itinerary"/>
                    <xs:element minOccurs="0" name="loss_code" type="xs:int"/>
                    <xs:element minOccurs="0" name="nonrevenue" type="xs:int"/>
                    <xs:element minOccurs="0" name="numbagchecked" type="xs:int"/>
                    <xs:element minOccurs="0" name="numbagreceived" type="xs:int"/>
                    <xs:element minOccurs="0" name="numpassengers" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax21:WS_Passenger"/>
                    <xs:element minOccurs="0" name="recordlocator" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reportmethod" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stationassigned" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stationcreated" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ticketnumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tsachecked" type="xs:int"/>
                    <xs:element minOccurs="0" name="voluntaryseparation" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_Article">
                <xs:sequence>
                    <xs:element minOccurs="0" name="article" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cost" type="xs:double"/>
                    <xs:element minOccurs="0" name="currency_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchasedate" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_IncidentClaimCheck">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimchecknum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="matched_ohd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arrivedonairline_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivedondate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivedonflightnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagnumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="bagstatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagtype" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimchecknum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cost" type="xs:double"/>
                    <xs:element minOccurs="0" name="currency_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="damage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="drafts" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fnameonbag" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inventories" nillable="true" type="ax21:WS_Inventory"/>
                    <xs:element minOccurs="0" name="itemtype" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lnameonbag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lvlofdamage" type="xs:int"/>
                    <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="matched_ohd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mnameonbag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resolutiondesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resolutionstatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xdescelement_1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xdescelement_2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xdescelement_3" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_Inventory">
                <xs:sequence>
                    <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_Itinerary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actarrivetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="actdeparttime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivedate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="departdate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flightnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="itinerary_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="itinerarytype" type="xs:int"/>
                    <xs:element minOccurs="0" name="legfrom" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="legfrom_type" type="xs:int"/>
                    <xs:element minOccurs="0" name="legto" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="legto_type" type="xs:int"/>
                    <xs:element minOccurs="0" name="scharrivetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schdeparttime" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_Passenger">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="altphone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="commonnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="countrycode_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="countryofissue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dlstate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="driverslicense" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homephone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hotel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="is_permanent" type="xs:int"/>
                    <xs:element minOccurs="0" name="isprimary" type="xs:int"/>
                    <xs:element minOccurs="0" name="jobtitle" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipairline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipstatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pager" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passenger_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="province" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="salutation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valid_bdate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valid_edate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workphone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_OHD">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagarrivedate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bagtagnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="close_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="companycode_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="disposal_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="foundAtStation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="founddatetime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="holdingStation" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inventories" nillable="true" type="ax21:WS_Inventory"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itineraries" nillable="true" type="ax21:WS_Itinerary"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membership" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oHD_ID" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="passengers" nillable="true" type="ax21:WS_Passenger"/>
                    <xs:element minOccurs="0" name="record_locator" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="storage_location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xdescelement1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xdescelement2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="xdescelement3" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_BEORN">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="baggageItinerary" nillable="true" type="ax21:WS_ForwardItinerary"/>
                    <xs:element minOccurs="0" name="expediteNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultStation" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="forwardItinerary" nillable="true" type="ax21:WS_ForwardItinerary"/>
                    <xs:element minOccurs="0" name="foundAtStation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="founddatetime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="lossCode" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tagOff" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="claimCheckNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="destinationStation" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_ForwardItinerary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivedate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="departdate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="flightnum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="legfrom" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="legto" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_OhdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorResponse" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ohdId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WS_QOHD">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bagTagNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="foundAtStation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="founddatetime" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://core.ws.nettracer.bagnet.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.ws.nettracer.bagnet.com">
            <xs:element name="logoff">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logoffResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIncident">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="incident_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="inc_type" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WS_Incident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOHD">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ohd_id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOHDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WS_OHD"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="beornOHD">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="si" nillable="true" type="ns0:WS_BEORN"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="beornOHDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WS_OhdResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertOHD">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="si" nillable="true" type="ns0:WS_OHD"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertOHDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WS_OhdResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertQuickOHD">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="si" nillable="true" type="ns0:WS_QOHD"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertQuickOHDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WS_OhdResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertIncident">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="si" nillable="true" type="ns0:WS_Incident"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="insertIncidentRequest">
        <wsdl:part name="parameters" element="ns1:insertIncident"/>
    </wsdl:message>
    <wsdl:message name="insertIncidentResponse">
        <wsdl:part name="parameters" element="ns1:insertIncidentResponse"/>
    </wsdl:message>
    <wsdl:message name="insertQuickOHDRequest">
        <wsdl:part name="parameters" element="ns1:insertQuickOHD"/>
    </wsdl:message>
    <wsdl:message name="insertQuickOHDResponse">
        <wsdl:part name="parameters" element="ns1:insertQuickOHDResponse"/>
    </wsdl:message>
    <wsdl:message name="getIncidentRequest">
        <wsdl:part name="parameters" element="ns1:getIncident"/>
    </wsdl:message>
    <wsdl:message name="getIncidentResponse">
        <wsdl:part name="parameters" element="ns1:getIncidentResponse"/>
    </wsdl:message>
    <wsdl:message name="getOHDRequest">
        <wsdl:part name="parameters" element="ns1:getOHD"/>
    </wsdl:message>
    <wsdl:message name="getOHDResponse">
        <wsdl:part name="parameters" element="ns1:getOHDResponse"/>
    </wsdl:message>
    <wsdl:message name="logoffRequest">
        <wsdl:part name="parameters" element="ns1:logoff"/>
    </wsdl:message>
    <wsdl:message name="logoffResponse">
        <wsdl:part name="parameters" element="ns1:logoffResponse"/>
    </wsdl:message>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns1:authenticate"/>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns1:authenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="insertOHDRequest">
        <wsdl:part name="parameters" element="ns1:insertOHD"/>
    </wsdl:message>
    <wsdl:message name="insertOHDResponse">
        <wsdl:part name="parameters" element="ns1:insertOHDResponse"/>
    </wsdl:message>
    <wsdl:message name="beornOHDRequest">
        <wsdl:part name="parameters" element="ns1:beornOHD"/>
    </wsdl:message>
    <wsdl:message name="beornOHDResponse">
        <wsdl:part name="parameters" element="ns1:beornOHDResponse"/>
    </wsdl:message>
    <wsdl:portType name="NTCoreServicePortType">
        <wsdl:operation name="insertIncident">
            <wsdl:input message="ns1:insertIncidentRequest" wsaw:Action="urn:insertIncident"/>
            <wsdl:output message="ns1:insertIncidentResponse" wsaw:Action="urn:insertIncidentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertQuickOHD">
            <wsdl:input message="ns1:insertQuickOHDRequest" wsaw:Action="urn:insertQuickOHD"/>
            <wsdl:output message="ns1:insertQuickOHDResponse" wsaw:Action="urn:insertQuickOHDResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getIncident">
            <wsdl:input message="ns1:getIncidentRequest" wsaw:Action="urn:getIncident"/>
            <wsdl:output message="ns1:getIncidentResponse" wsaw:Action="urn:getIncidentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOHD">
            <wsdl:input message="ns1:getOHDRequest" wsaw:Action="urn:getOHD"/>
            <wsdl:output message="ns1:getOHDResponse" wsaw:Action="urn:getOHDResponse"/>
        </wsdl:operation>
        <wsdl:operation name="logoff">
            <wsdl:input message="ns1:logoffRequest" wsaw:Action="urn:logoff"/>
            <wsdl:output message="ns1:logoffResponse" wsaw:Action="urn:logoffResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <wsdl:input message="ns1:authenticateRequest" wsaw:Action="urn:authenticate"/>
            <wsdl:output message="ns1:authenticateResponse" wsaw:Action="urn:authenticateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertOHD">
            <wsdl:input message="ns1:insertOHDRequest" wsaw:Action="urn:insertOHD"/>
            <wsdl:output message="ns1:insertOHDResponse" wsaw:Action="urn:insertOHDResponse"/>
        </wsdl:operation>
        <wsdl:operation name="beornOHD">
            <wsdl:input message="ns1:beornOHDRequest" wsaw:Action="urn:beornOHD"/>
            <wsdl:output message="ns1:beornOHDResponse" wsaw:Action="urn:beornOHDResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NTCoreServiceSOAP11Binding" type="ns1:NTCoreServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="insertIncident">
            <soap:operation soapAction="urn:insertIncident" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertQuickOHD">
            <soap:operation soapAction="urn:insertQuickOHD" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncident">
            <soap:operation soapAction="urn:getIncident" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOHD">
            <soap:operation soapAction="urn:getOHD" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logoff">
            <soap:operation soapAction="urn:logoff" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertOHD">
            <soap:operation soapAction="urn:insertOHD" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="beornOHD">
            <soap:operation soapAction="urn:beornOHD" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NTCoreServiceSOAP12Binding" type="ns1:NTCoreServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="insertIncident">
            <soap12:operation soapAction="urn:insertIncident" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertQuickOHD">
            <soap12:operation soapAction="urn:insertQuickOHD" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncident">
            <soap12:operation soapAction="urn:getIncident" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOHD">
            <soap12:operation soapAction="urn:getOHD" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logoff">
            <soap12:operation soapAction="urn:logoff" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertOHD">
            <soap12:operation soapAction="urn:insertOHD" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="beornOHD">
            <soap12:operation soapAction="urn:beornOHD" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NTCoreServiceHttpBinding" type="ns1:NTCoreServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="insertIncident">
            <http:operation location="NTCoreService/insertIncident"/>
            <wsdl:input>
                <mime:content type="text/xml" part="insertIncident"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="insertIncident"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertQuickOHD">
            <http:operation location="NTCoreService/insertQuickOHD"/>
            <wsdl:input>
                <mime:content type="text/xml" part="insertQuickOHD"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="insertQuickOHD"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIncident">
            <http:operation location="NTCoreService/getIncident"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getIncident"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getIncident"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOHD">
            <http:operation location="NTCoreService/getOHD"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getOHD"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getOHD"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logoff">
            <http:operation location="NTCoreService/logoff"/>
            <wsdl:input>
                <mime:content type="text/xml" part="logoff"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="logoff"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <http:operation location="NTCoreService/authenticate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authenticate"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authenticate"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertOHD">
            <http:operation location="NTCoreService/insertOHD"/>
            <wsdl:input>
                <mime:content type="text/xml" part="insertOHD"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="insertOHD"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="beornOHD">
            <http:operation location="NTCoreService/beornOHD"/>
            <wsdl:input>
                <mime:content type="text/xml" part="beornOHD"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="beornOHD"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NTCoreService">
        <wsdl:port name="NTCoreServiceSOAP11port_http" binding="ns1:NTCoreServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/NTCoreService"/>
        </wsdl:port>
        <wsdl:port name="NTCoreServiceSOAP12port_http" binding="ns1:NTCoreServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/NTCoreService"/>
        </wsdl:port>
        <wsdl:port name="NTCoreServiceHttpport" binding="ns1:NTCoreServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/NTCoreService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
